html {
    font-size: 14px;
    position: relative;
    min-height: 100%;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

body {
  margin-bottom: 60px;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.text-container {
    flex: 1;
    padding: 0 20px;
}

.image-container {
    flex: 1;
    text-align: center;
}

img {
    max-width: 100%;
    height: auto;
    width:300px;
}

.icon {
    margin-right: 10px; /* Adjust the spacing between the icon and text */
    width: 30px; /* Adjust the width of the icon */
    height: auto;
}

#result-box {
    border: 2px solid #ccc;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}