@{
    ViewData["Title"] = "Home Page";
}
<br />
<div class="container">
    <div class="image-container">
        <br /><br /><br /><br />
        <img src="\img\regularclimbing.jpg" alt="Climbing up lionshead" />
    </div>
    <div class="text-container">
        <h2 style="text-align: center; font-size: 80px; font-family: 'Great Vibes', cursive;">Welcome.</h2>
        <br />
        <h2 style="text-align: center">The hobby of rock climbing is an art that requires balance of body and mind. The body must accomplish a feat that the mind will often hesitate in. Overcoming the initial fear rewards the climber with a new perspective to life.</h2>
    </div>
    <div class="image-container">
        <br /><br /><br /><br />
        <img src="\img\fallingclimbing.jpg" alt="Fallling of the rock" />
    </div>
</div>
<br />
<br />
<br />
<div>
    <p>Rock climbing was developed in various forms throughout history, with early evidence of climbing activities dating back thousands of years. One of the earliest recorded instances of rock climbing can be traced to ancient civilizations such as the Romans and Greeks, who engaged in climbing as a means of accessing difficult terrain for military purposes or religious rituals. However, it wasn't until the late 19th and early 20th centuries that rock climbing began to evolve into the modern sport we recognize today. During this time, pioneering climbers in Europe, particularly in regions like the Alps, started to explore and conquer challenging peaks and rock faces for recreational purposes rather than practical necessity. Notable figures such as Edward Whymper, who famously made the first ascent of the Matterhorn in 1865, played significant roles in advancing the sport. Since then, rock climbing has continued to develop, with advancements in equipment, techniques, and safety standards contributing to its popularity as both a recreational activity and a competitive sport on a global scale. </p>
</div>
<br />
<div class="container">
    <div class="image-container">
        <img src="\img\friendclimbing.JPG"/>
    </div>
    <div class="text-container">
        <p>Rock climbing is a great adventure to share with friends and family! Just be sure you have people with the proper experience, or you might face more danger than you should!</p>
    </div>
    <div class="image-container">
        <img src="\img\familyclimbing.JPG" />
    </div>
    <div class="text-container">
        <p>The best part of rock climbing is the journey, but the reward of getting to the top isn't too bad either!</p>
    </div>
    <div class="image-container">
        <img src="\img\topmountainclimbing.JPG" />
    </div>
</div>